* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1d1a5f;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.start-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2e3683;
  width: 80vw;
  height: 80vh;
  border-radius: 1rem;
}

.start-page h1 {
  font-size: 7rem;
  color: #fff;
}

.start-page button {
  font-size: 1.8rem;
  font-weight: 600;
  margin-top: 2rem;
  color: #1d1a5f;
  background-color: #40e7ee;
}

.start-page ul {
  color: white;
  margin-top: 2rem;
}

.start-page li {
  color: white;
  margin-top: 1.3rem;
  list-style-type: disc;
  font-size: 1.4rem;
  font-weight: 600;
}
.start-page li::marker {
  color: #40e7ee;
  font-size: 1.8rem;
}

.start-page h3 {
  margin-top: 1rem;
  font-size: 3rem;
  color: white;
  text-align: center;
}
